<div class="editor-row">
	<div class="section gf-form-group">
    <h5 class="section-heading">Colors</h5>
      <div class="gf-form">
        <label class="gf-form-label width-9">Digits</label>
        <span class="gf-form-label">
          <spectrum-picker ng-model="ctrl.panel.digitColor" ng-change="ctrl.changeColor()" ></spectrum-picker>
        </span>
      </div>
      <div class="gf-form">
        <label class="gf-form-label width-9">Back</label>
        <span class="gf-form-label">
          <spectrum-picker ng-model="ctrl.panel.backColor" ng-change="ctrl.changeColor()" ></spectrum-picker>
        </span>
      </div>
  </div>

	</div>
